body{
	background:#BBB;
	direction:rtl;
	font-family:tahoma;
	font-size:16px;
}
a{
	color:#52B9E9;
}
#post{
	padding:0px 200px;
}
#centermg{
	text-align:center;
	display:inline;
	float:right;
	
}
#centermg img{
	width:256px;
	margin:5px;
}
#post li{
	display:inline-block;
	background:#A11DCC;
	color:#FFF;
	padding:10px 20px 30px 50px ;
	width:45px;
	text-align:center;
	height:35px;
	line-height:35px;
	text-decoration:none;
}
div#post_wrapper{
	background:#f0f0f0;
}
#post_footer{
	background:#ccc;
	border:solid 1px #111;
}
#post h3{
	text-align:right;
	font-size:22px;
}
#post_footer h3{
	text-align:center;
	background:#B32A8C;
}
.nonetype{
	list-style:none;
}
#footer{
	position:relative;
	width:100%;
	background:#929292;
	margin:20px 0px 0px 0px;
	border:solid 2px #2213DB;
}
#footer1{
	position:relative;
	float:right;
	width:23%;
	display:inline;
	background:#D0D0D0;
	height:200px;
	margin:0px;
	padding:1%;
}
#footer2{
	position:relative;
	width:23%;
	display:inline-block;
	height:200px;
	float:right;
	background:#9A9A9A;
	margin:0px;
	padding:1%;
}
#footer3{
	position:relative;
	width:23%;
	display:inline-block;
	height:200px;
	float:right;
	background:#747474;
	margin:0px;
	padding:1%;
}
#footer4{
	position:relative;
	width:23%;
	display:inline-block;
	padding:1%;
	height:200px;
	margin:0px;
	background:#424242;
}
#footer21{
	position:relative;
	width:50%;
	background:#A4A4A4;
	top:0px;
	display:inline-block;
	float:right;
}
#footer22{
	position:relative;
	width:50%;
	background:#686868;
	display:inline-block;
}
#footer23{
	position:f;
	top:25px;
	width:75px;
	margin:10px auto;
	background:#4F4F4F;
	display:block;
}
#footer21 ul{
	padding:0px;
	margin:0px;
}
.nonetype{
	margin:0px;
	padding:0px;
}